/* Custom style home */
nav {
  z-index: 1;
  position: absolute;
  left: 1%;
  top: 2%;
}

nav ul {
  list-style : none;
}

nav ul li {
  color: white;
  display : inline-block;
  padding-right : 1%;
}

.masthead {
  flex-direction : column;
}

nav ul li a {
  text-decoration : none;
}
